#tabBar{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  height: 100%;
  width: 100%;
  justify-content: center;
  margin-bottom: 50%;
}

.tabBtn{
  width: 200px;
  height: 10%;
  margin-top: 20%;
  display: grid;
  place-content: center;
  color: white;
  text-shadow: 0 1px 0 #000;
  font-size: 2rem;
  --border-angle: 0turn; 
  --main-bg: conic-gradient(
        from var(--border-angle),
        rgb(31, 30, 30),
        rgb(31, 30, 30) 5%,
        rgb(31, 30, 30) 60%,
        rgb(31, 30, 30) 95%
    );

    border: solid 5px transparent;
    border-radius: 1em;
    --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, rgb(170, 215, 255), rgb(255, 184, 198) 99%, transparent);
    --gradient-hover-border: conic-gradient(from var(--border-angle), transparent 25%, #08f, #f03 99%, transparent);
    background:  
    var(--main-bg) padding-box,
    var(--gradient-border) border-box, 
    var(--main-bg) border-box;
  
    background-position: center center;

    animation: bg-spin 3s linear infinite;
    
    &:hover{
      background-position: center center;
      background: var(--main-bg) padding-box, var(--gradient-hover-border) border-box, var(--main-bg) border-box;
      cursor: pointer;
  }
}

.tabBtn.active{
  background: 
    var(--main-bg) padding-box,
    var(--gradient-hover-border) border-box, 
    var(--main-bg) border-box;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}