#tabBar{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  height: 100%;
  width: 100%;
  justify-content: center;
  margin-bottom: 50%;
}

.tabBtn{
  width: 200px;
  height: 10%;
  margin-top: 20%;
  display: grid;
  place-content: center;
  color: white;
  text-shadow: 0 1px 0 #000;
  font-size: 2rem;
  --border-angle: 0turn; 
  --main-bg: conic-gradient(
        from var(--border-angle),
        rgb(46, 25, 69),
        rgb(45, 20, 62) 5%,
        rgb(55, 35, 81) 60%,
        rgb(52, 24, 79) 95%
    );
  --second-bg: conic-gradient(
        from var(--border-angle),
        rgb(220, 191, 232) 5%,
        rgb(178, 126, 200) 60%,
        rgb(160, 84, 211) 99%
    );

    border: solid 5px transparent;
    border-radius: 1em;
    --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #08f, #f03 99%, transparent);
     
    background: 
    var(--main-bg) padding-box,
    var(--gradient-border) border-box, 
    var(--main-bg) border-box;
  
    background-position: center center;

    animation: bg-spin 3s linear infinite;
    
    &:hover{
      box-shadow: 0px 0px 30px 2px #8b6491;
      color: black;
      background: 
      var(--second-bg) padding-box,
      var(--gradient-border) border-box, 
      var(--second-bg) border-box;
      cursor: pointer;
  }
}

.tabBtn.active{
  box-shadow: 0px 0px 30px 2px #8b6491;
  color: black;
  background: 
  var(--second-bg) padding-box,
  var(--gradient-border) border-box, 
  var(--second-bg) border-box;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}