#addToDoBtn{
    font-size: 1.25rem;
    width: 130px;
    height: 60px;
    margin-left: 28%;
    margin-top: 35%;
    display: grid;
    place-content: center;
    color: white;
    text-shadow: 0 1px 0 #000;

    --border-angle: 0turn; 
    --main-bg: conic-gradient(
        from var(--border-angle),
        rgb(46, 25, 69),
        rgb(45, 20, 62) 5%,
        rgb(55, 35, 81) 60%,
        rgb(52, 24, 79) 95%
      );


    border: solid 2px white;
    border-radius: 2em;
    --gradient-border: conic-gradient(from var(--border-angle), transparent 89%, #08f, #f03 99%, transparent);
      
    background: 
    var(--gradient-border) border-box;

  
    background-position: center center;

    animation: bg-spin 3s linear infinite;
    
    &:hover{

        cursor: pointer;
    }
}
  
@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}

@keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }

.submitBtn{
  width: 60%;
  height: 50%;
  margin-top: 20%;
  display: grid;
  place-content: center;
  color: white;
  text-shadow: 0 1px 0 #000;
  font-size: 1.5rem;
  --border-angle: 0turn; 
  --main-bg: conic-gradient(
        from var(--border-angle),
        rgb(31, 30, 30),
        rgb(31, 30, 30) 5%,
        rgb(31, 30, 30) 60%,
        rgb(31, 30, 30) 95%
    );

    border: solid 5px transparent;
    border-radius: 1em;
    --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, rgb(170, 215, 255), rgb(255, 184, 198) 99%, transparent);
    --gradient-hover-border: conic-gradient(from var(--border-angle), transparent 25%, #08f, #f03 99%, transparent);
    background:  
    var(--main-bg) padding-box,
    var(--gradient-border) border-box, 
    var(--main-bg) border-box;
  
    background-position: center center;

    animation: bg-spin 3s linear infinite;
    
    &:hover{
      background-position: center center;
      background: var(--main-bg) padding-box, var(--gradient-hover-border) border-box, var(--main-bg) border-box;
      cursor: pointer;
  }
}

.submitBtn.active{
  background: 
    var(--main-bg) padding-box,
    var(--gradient-hover-border) border-box, 
    var(--main-bg) border-box;
}

.myOffCanvas{
  width: 500px;
}

form{
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  width: 60%;
}

h1 {
  font-size: 28px;
}



#createToDoDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 30px;
}

#createToDoForm{
  height: inherit;
  display: inherit;
  flex-direction: column;
  align-items: center;
  width: 90%;
  gap: 5%;
}

#topic, #name, #date{
  display: flex;
  gap: 15%;
  width: 90%;
  align-items: center;
}

#description{
  display: flex;
  gap: 15%;
  width: 90%;
  align-items: center;
  margin-top: 4%;
  margin-bottom: 4%;
}

#nameInput{
  width: 9.4rem;
  height: 2rem;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 3%;
  padding-right: 3%;
  &:focus{
    outline: none;
  }
}

#descriptionInput{
  width: 9.4rem;
  height: 4rem;
  justify-items: start;
  font-size: 14px;
  word-break: break-all;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3%;
  &:focus{
    outline: none;
  }
}

#dateInput{
  width: 10.4rem;
  &:hover{
    cursor: text;
  }
  &:focus{
    outline: none;
  }
}


#topics{
  width: 50%;
  text-align: center;
  font-size: 16px;
}

.headline{
  font-size: 20px;
  width: 120px;
  margin: 0;
}

#assignees {
  justify-items: center;
  margin-top: 8%;
  width: 80%;
}

#submit{
  display: flex;
  width: 80%;
  justify-content: center;
}