.tableContainer{
  margin-left: 15%;
  height: 90%;
  margin-top: 5%;
}

table{
  height: 35%;
}

th {
  border-bottom: solid gray 2px;
  width: 120px;
  justify-items: center;
  font-size: 14px;
}

td{
  align-content: start;
}

.cell-div{
  color: white;
  font-size: 12px;
}

.cell-div:hover {
  cursor: pointer;
  opacity: 0.5;
}

th > p {
  color: white;
  font-weight: bold;
  width: 100px;
}

.modal {
    display: none; /* Standard: unsichtbar */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* halbtransparentes Overlay */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.embla {
  overflow: hidden;
  position: relative;
}
.embla__container {
  display: flex;
  height: 100%;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0; 
}

#sliderButtonsDiv{
  position: absolute;
  bottom: 20%;
  left: 45%;
  width: 60px;

}

.sliderButtons{
  display: grid;
  place-content: center;
  color: white;
  text-shadow: 0 1px 0 #000;

  --border-angle: 0turn; 
  --main-bg: conic-gradient(
        from var(--border-angle),
        rgb(46, 25, 69),
        rgb(45, 20, 62) 5%,
        rgb(55, 35, 81) 60%,
        rgb(52, 24, 79) 95%
    );

    border: solid 2px transparent;
    border-radius: .5rem;
    --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #08f, #f03 99%, transparent);
     
    background: 
    var(--main-bg) padding-box,
    var(--gradient-border) border-box, 
    var(--main-bg) border-box;
  
    background-position: center center;

    animation: bg-spin 3s linear infinite;

  &:hover{
    cursor: pointer;

  }

}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

#modalCloseBtnForm{
  position: absolute;
  right: 3%;
  top: 3%;
  margin: 0;
  width: 24px;
  height: 24px;
  align-content: center;
  justify-content: center;
}

#modalCloseBtn{
  width: 24px;
  height: 24px;
  padding: 0px;
  &:hover{
    cursor: pointer;
  }
}

#submitAndDelete{
  display: flex;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.modalDialog {
  background-color: #212121;
  border: none;
  /* flex-direction: column; */ 
  width: 35%;
}

#name, #topic, #description, #submit {
  padding-bottom: 8%;
  width: 90%;
}

#topicSelect{
  width: 40%;
  height: 2.5rem;
  text-align: center;
  font-size: 16px;
  &:hover{
    cursor: pointer;
  }
}

h2{
  color: white
}

#modalContent{
  padding-top: 9%;
  padding-left: 9%;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20%
}
#headline{
  margin-left: 10%;
  color: whitesmoke;
}


#submit{
  display: flex;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.submitBtn{
  padding: 2%
}
.css-1dyz3mf > div{
  width: 60% !important;
}

.css-1b757j3{
  width: auto !important;
}
.css-v7duua{
  color: black;
  position: absolute;
  left: 45%;
  padding-top: 3%;
  padding-bottom: 3%;
}
#assignees{
  justify-items: start !important;
  margin-top: 0 !important;
  margin-bottom: 4% !important;
  width: 70% !important;
}

#assigneesAndStatus{
  display: flex;
  padding-top: 10%;
  align-items: center;
}

#status{
  width: 25%;
}
#statusSelect{
  padding-left: 5%;
  width: 100%;
  height: 2.5rem;
  font-size: 18px;
  font-family: Arial;
  &:hover{
    cursor: pointer;
  }
}