th {
  border-bottom: solid gray 2px;
  width: 160px;
  justify-items: center;
  font-size: 14px;
}

.cell-div{
  color: white;
  font-size: 12px;
}

.cell-div:hover {
  cursor: pointer;
  opacity: 0.5;
}

th > p {
  color: white;
  font-weight: bold;
  width: 100px;
}

.modal {
    display: none; /* Standard: unsichtbar */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* halbtransparentes Overlay */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
