th {
  border-bottom: solid gray 2px;
  width: 160px;
  justify-items: center;
  font-size: 14px;
}

.cell-div{
  color: white;
  padding-left: 10px;
}
.marker-marcus{
  background-color: rgba(54, 234, 38, 0.32);
}

.marker-marcel{
  background-color: rgba(159, 38, 234, 0.32);
}

th > p {
  color: white;
  font-weight: bold;
}