button{
    font-size: 20pt; /* Increase the font size */
  padding: 10px 20px; /* Increase the padding */
  border: 3px solid #a30404; /* Add a border */
  border-radius: 60px; /* Add a border radius */
  border-bottom: 3px solid #102ba3; /* Add a border bottom */
  border-right: 3px solid #102ba3; /* Add a border right */
  position: absolute; /* Position the button absolutely */
  top: 10px; /* Position from the top */
  right: 10px; /* Position from the right */
}
    
h2{font-size: 35pt;}

h3, h4, h5, h6 {
  font-size: 20pt;
  line-height: 0.1; /* Adjust the line height */
}

.status-frame, .Task2 {
  border: 2px solid #000; /* Add a solid border */
  display: inline-block; /* Make the frame adjust to the text width */
  padding: 2.0%; /* Add padding inside the border */
  border-radius: 15px; /* Add rounded corners */
  background-color: #f9f9f9; /* Set a background color */
  margin-bottom: 10px; /* Add margin below the frame */
  width: auto; /* Set width to auto to adjust to text */
  height: auto; /* Set height to auto to adjust to text */
}